/*
    ANIMATION.CSS

    - Last updated: 29.05.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// ANIMATION
//--------------------------------------------------------------------

.logo-circles,
.header,
.global-footer, {
	opacity: 0;
	transition: opacity 2s ease;
}

.has-loaded {
	.logo-circles {
		opacity: 1;
		transition-delay: 1.5s;
	}
	.header {
		opacity: 1;
		transition-delay: 2s;
	}
	.global-footer {
		opacity: 1;
		transition-delay: 2.5s;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================