/*
    TYPE.CSS

    - Last updated: 16.10.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// TYPE
//--------------------------------------------------------------------

html {
  // @include media-breakpoint-up(xs) { font-size: $font-size-xs; }
  // @include media-breakpoint-up(md) { font-size: $font-size-lg; }
}

//-----------------------------------------------------------------
// ANCHORS
//-----------------------------------------------------------------

a {
	transition: color ease 300ms, background-color ease 300ms;
}

//-----------------------------------------------------------------
// ALL TYPE
//-----------------------------------------------------------------

h1, h2, h3, h4, h5, h6
p, ul, ol, td, small {
	letter-spacing: 2px;
}

//-----------------------------------------------------------------
// FONT LIGHT COLOR
//-----------------------------------------------------------------

.font-color-light {
	color: $gray-light;
}

.brand-color-primary { color: $brand-primary; }
.brand-color-secondary { color: $brand-secondary; }
.brand-color-tertiary { color: $brand-tertiary; }
.brand-color-quaternary { color: $brand-quaternary; }

//-----------------------------------------------------------------
// SPACER
//-----------------------------------------------------------------

.spacer {
	width: 1px;
	height: 1px;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================