---
layout: base
---

{% assign settings = site.data.settings %}

<div class="container">
	<div class="row align-items-center text-center">
		<div class="col-md-6 push-md-6 text-md-right">

			<!-- HEADER -->
			<header class="header text-uppercase">
				<h1><b>CC</b> Project Management</h1>
				<h2>
					<span class="brand-color-primary">Property</span>&nbsp;
					<span class="brand-color-secondary">Sales</span>&nbsp;
					<span class="brand-color-tertiary">Events</span>&nbsp;
					<span class="brand-color-quaternary">Branding</span>
				</h2>
			</header>

		</div>
		<div class="col-md-6 pull-md-6">

			<!-- LOGO -->
			<ul class="logo-circles block-grid-xs-2">
				<li><img width="100%" src="/assets/img/layout/sphere-purple.svg" alt="Logo"></li>
				<li><img width="100%" src="/assets/img/layout/sphere-orange.svg" alt="Logo"></li>
				<li><img width="100%" src="/assets/img/layout/sphere-blue.svg" alt="Logo"></li>
				<li><img width="100%" src="/assets/img/layout/sphere-green.svg" alt="Logo"></li>
			</ul>

		</div>
	</div>
</div>

<!-- FOOTER -->
<footer class="global-footer">
    {% include footer.html %}
</footer>